CONNECTION_STRING = mongodb+srv://giorgi:giorgi0712@cluster0.gzgnuhp.mongodb.net/beerDB
JWT_SECRET_KEY=secret123
JWT_RESET_PASS_SECRET_KEY=supersecret123
BCRYPT_PEPPER=BCRYPT123
MAIL_SENDER_EMAIL=brewbliss.provider@gmail.com
MAIL_SENDER_PASS=zupd bjxh xaaf wean