@use '../abstracts' as *;

.about {
  background: #F6FBF2;
  padding: calc(80px * var(--app-scale)) calc(185px * var(--app-scale));
  font-family: $font-family-2;

  .about-intro {
    text-align: center;
    margin-bottom: calc(80px * var(--app-scale));

    .our-story {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-transform: uppercase;
        font-size: calc(15px * var(--app-scale)); 
        gap: calc(4px * var(--app-scale));
        .icon {
            width: calc(20px * var(--app-scale));
        }
    }

    h2 {
      font-size: calc(26px * var(--app-scale));
      font-weight: 600;
      color: #141516;
      max-width: calc(780px * var(--app-scale));
      margin: 0 auto calc(40px * var(--app-scale));
      line-height: 1;


      span { color: #FEA90C; font-weight: 600; }
    }

    img {
      width: 100%;
      max-height: calc(700px * var(--app-scale));
      object-fit: cover;
      border-radius: calc(12px * var(--app-scale));
      transition: 0.3s;
      &:hover {
        scale: 0.9;
      }
    }
  }

  .about-team {
    text-align: center;

    .about-team-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: calc(16px * var(--app-scale));
      margin-bottom: calc(16px * var(--app-scale));

      h2 {
        font-size: calc(32px * var(--app-scale));
        font-weight: 550;
        color: #141516;
      }

      img { height: calc(28px * var(--app-scale)); }
    }

    .about-team-sub {
      font-size: calc(14px * var(--app-scale));
      color: #777;
      max-width: calc(500px * var(--app-scale));
      margin: 0 auto calc(40px * var(--app-scale));
      line-height: 1.6;
    }

    .about-team-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: calc(24px * var(--app-scale));

      .about-team-card {
        .about-team-image {
            border-radius: calc(10px * var(--app-scale));
            overflow: hidden;

            img {
            width: 100%;
            height: calc(400px * var(--app-scale));
            object-fit: cover;
            display: block;
            }
        }

        .about-team-info {
            margin-top: calc(20px * var(--app-scale));
            text-align: left;
        }
      }
    }
  }
}