@use '../abstracts' as *;
.shop-banner {
    background-image: url(//brew-blis.myshopify.com/cdn/shop/files/breadcrum_1920x.png?v=1737448594);
    height: calc(300px * var(--app-scale));
    background-size: cover;
    background-position: center bottom;
    @include flex(center, center, calc(10px * var(--app-scale)), row);
    color: white;
    font-family: $font-family-2;
    font-size: calc(50px * var(--app-scale));
    .icon {
        height: calc(48px * var(--app-scale));
        width: calc(44px * var(--app-scale));
    }
}
.shop {
    padding: calc(40px * var(--app-scale)) calc(210px * var(--app-scale));
    background-color: #F6FBF2;

    .shop-controls {
        margin-bottom: calc(24px * var(--app-scale));
    }

    .shop-body {
        display: flex;
        gap: calc(32px * var(--app-scale));
        align-items: flex-start;
    }
}