@use '../abstracts' as *;

.primary-btn {
  background-color: $color-main;
  color:            black;
  border:           none;
  padding:          calc(14px * var(--app-scale)) calc(28px * var(--app-scale));
  font-family:      $font-family-2;
  font-size:        calc(15px * var(--app-scale));
  cursor:           pointer;
  transition:       0.5s;
  border-radius:    calc(5px * var(--app-scale));

  &:hover {
    background-color: $color-dark;
    color:            white;
  }
}

.secondary-btn {
  background-color: $color-light;
  color:            black;
  border:           calc(1px * var(--app-scale)) solid rgba(255, 255, 255, 0.4);
  padding:          calc(14px * var(--app-scale)) calc(28px * var(--app-scale));
  font-family:      $font-family-2;
  font-size:        calc(15px * var(--app-scale));
  cursor:           pointer;
  transition:       0.5s;
  border-radius:    calc(5px * var(--app-scale));

  &:hover {
    background-color: $color-main;
    border-color:     $color-main;
  }
}
