@use '../abstracts' as *;

.cart-summary {
  border: 1px solid #696969;
  width: 300px;
  background: #F6FBF2;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;

  .cart-summary-freeship {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
      font-family: $font-family-2;
      font-size: 15px;
      color: #555;
      strong { color: #222; }
      span { color: $color-main; font-weight: 600; }
    }
  }

  .cart-summary-divider {
    height: 1px;
    background: #7a7a7a;
  }

  .cart-summary-row {
    display: flex;
    justify-content: space-between;
    font-family: $font-family-2;
    font-size: 16px;
    font-weight: 550;
    color: #222;

    &.total {
      font-weight: 600;
      font-size: 16px;
      color: #222;
    }

    .cart-summary-total { color: #1e882f; font-weight: 700; }
  }

  .cart-summary-section {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
      font-family: $font-family-2;
      font-size: 16px;
      font-weight: 600;
      color: #222;
    }

    label {
      font-family: $font-family-2;
      font-size: 15px;
      font-weight: 600;
      color: #222;
    }

    select, input {
      width: 100%;
      padding: 10px 12px;
      border: 1px solid #696969;
      background: #F6FBF2;
      border-radius: 10px;
      font-family: $font-family-2;
      font-size: 13px;
      outline: none;
      appearance: auto;
      box-sizing: border-box;
      &:focus { border-color: $color-main; }
    }

    .cart-summary-coupon-note {
      font-family: $font-family-2;
      font-size: 16px;
      color: #696969;
    }
  }

  .cart-summary-calc-btn {
    padding: 15px;
    background: $color-main;
    color: black;
    border: none;
    border-radius: 6px;
    font-family: $font-family-2;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    &:hover { background: #1a1a1a; color: white; }
  }

  .cart-summary-tax-note {
    font-family: $font-family-2;
    font-size: 16px;
    color: #696969;
  }

  .cart-summary-agree {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $font-family-2;
    font-size: 13px;
    color: #555;
    cursor: pointer;

    input[type='checkbox'] { accent-color: $color-main; width: 16px; height: 16px; }
    span { color: $color-main; text-decoration: underline; }
  }

  .cart-summary-checkout {
    width: 100%;
    padding: 14px;
    background: #ddd;
    color: #888;
    border: none;
    border-radius: 6px;
    font-family: $font-family-2;
    font-size: 15px;
    font-weight: 600;
    cursor: default;
    transition: 0.3s;

    &:not(:disabled) {
      background: $color-main;
      color: white;
      cursor: pointer;
      &:hover { background: #1a1a1a; }
    }
  }
}