@use '../abstracts' as *;

.product-home-card {
  margin: 0 calc(12px * var(--app-scale));
}
.product-card {
    padding: calc(15px * var(--app-scale));
    background: #F6FBF2;
    border-radius: calc(4px * var(--app-scale));
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border: calc(1px * var(--app-scale)) solid black;
    border-radius: calc(10px * var(--app-scale));

    .product-badge {
        position: absolute;
        top: calc(28px * var(--app-scale));
        left: calc(28px * var(--app-scale));
        background: #DD3842;
        color: white;
        font-family: $font-family-2;
        font-size: calc(12px * var(--app-scale));
        padding: calc(4px * var(--app-scale)) calc(8px * var(--app-scale));
        border-radius: calc(2px * var(--app-scale));
        z-index: 1;
        border-radius: calc(5px * var(--app-scale));
    }

    .product-img {
        background: #E0E0E0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: calc(32px * var(--app-scale));
        height: calc(280px * var(--app-scale));
        border-radius: calc(10px * var(--app-scale));

        img {
            height: 100%;
            object-fit: contain;
            transition: 0.3s;
        }

        &:hover img {
            transform: scale(1.05);
        }
    }

    .product-info {
        padding: calc(16px * var(--app-scale));
        display: flex;
        flex-direction: column;
        gap: calc(6px * var(--app-scale));

        h3 {
            font-family: $font-family-2;
            font-size: calc(16px * var(--app-scale));
            font-weight: 600;
            color: #222;
        }

        .product-volume {
            font-family: $font-family-2;
            font-size: calc(13px * var(--app-scale));
            color: #888;
        }

        .product-rating {
            font-size: calc(14px * var(--app-scale));
            color: black;
            .review-count {
                font-family: $font-family-2;
            }
        }

        .product-price {
            display: flex;
            align-items: center;
            gap: calc(10px * var(--app-scale));

            .price-current {
                font-family: $font-family-2;
                font-size: calc(16px * var(--app-scale));
                font-weight: 700;
                color: #DD3842;
            }

            .price-old {
                font-family: $font-family-2;
                font-size: calc(14px * var(--app-scale));
                color: #aaa;
                text-decoration: line-through;
            }
        }

        .add-to-cart {
            margin-top: calc(8px * var(--app-scale));
            padding: calc(12px * var(--app-scale));
            background: transparent;
            border: calc(1px * var(--app-scale)) solid #ddd;
            font-family: $font-family-2;
            font-size: calc(14px * var(--app-scale));
            cursor: pointer;
            transition: 0.3s;
            width: 100%;
            border: calc(1px * var(--app-scale)) solid black;
            border-radius: calc(3px * var(--app-scale));

            &:hover {
                background: $color-main;
                border-color: $color-main;
                color: white;
            }
        }
    }

    .product-card-image-wrapper {
        position: relative;

        .product-wishlist-btn {
            position: absolute;
            top: calc(10px * var(--app-scale));
            right: calc(10px * var(--app-scale));
            width: calc(36px * var(--app-scale));
            height: calc(36px * var(--app-scale));
            background: white;
            border: none;
            border-radius: calc(6px * var(--app-scale));
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            opacity: 0;
            transform: translateY(calc(-4px * var(--app-scale)));
            transition: opacity 0.2s, transform 0.2s;
            box-shadow: 0 calc(2px * var(--app-scale)) calc(8px * var(--app-scale)) rgba(0,0,0,0.1);

             svg path {
                fill: none;
                stroke: #141516;
                stroke-width: 1.5;
                transition: 0.2s;
            }

            &:hover svg path {
                stroke: #e74c3c;
            }

            &.active svg path {
                fill: #e74c3c;
                stroke: #e74c3c;
            }
        }

        &:hover .product-wishlist-btn {
            opacity: 1;
            transform: translateY(0);
        }
    }
}